{
    "consumes": [
      "application/json"
    ],
    "produces": [
      "application/json"
    ],
    "schemes": [
      "https"
    ],
    "swagger": "2.0",
    "info": {
      "description": "Sunbird registry and credential api (SunbirdRC)",
      "title": "Sunbird Registry and Credential",
      "version": "1.0.0"
    },
    "host": "ndear.xiv.in",
    "basePath": "/",
    "definitions": {
      "Prerak": {
        "type": "object",
        "title": "The Prerak Schema",
        "required": [],
        "properties": {
          "identityDetails": {
            "type": "object",
            "title": "Identity Details",
            "description": "Identity Details",
            "required": [],
            "properties": {
              "fullName": {
                "$id": "#/properties/fullName",
                "type": "string",
                "title": "Full name"
              },
              "gender": {
                "$id": "#/properties/gender",
                "type": "string",
                "enum": [
                  "Male",
                  "Female",
                  "Other"
                ],
                "title": "Gender"
              },
              "dob": {
                "$id": "#/properties/dob",
                "type": "string",
                "format": "date",
                "title": "DOB"
              }
            }
          },
          "contactDetails": {
            "type": "object",
            "title": "Contact Details",
            "description": "Contact Details",
            "required": [],
            "properties": {
             
              "mobile": {
                "$id": "#/properties/mobile",
                "type": "string",
                "title": "Contact Number"
              },
              "address": {
                "type": "object",
                "required": [],
                "properties": {
                  "block": {
                    "type": "string",
                    "title": "Block"
                  },
                  "district": {
                    "type": "string",
                    "title": "District"
                  },
                  "village": {
                    "type": "string",
                    "title": "Village/Town/City"
                  }
                }
              }
            }
          },
          "academicQualifications": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "instituteOSID": {
                  "$id": "#/properties/instituteOSID",
                  "type": "string",
                  "title": "Institute OSID"
                },
                "instituteName": {
                  "$id": "#/properties/instituteName",
                  "type": "string",
                  "title": "Institute Name"
                },
                "qualification": {
                  "$id": "#/properties/qualification",
                  "type": "string",
                  "title": "Qualification"
                },
                "program": {
                  "$id": "#/properties/program",
                  "type": "string",
                  "title": "Program of Study"
                },
                "graduationYear": {
                  "$id": "#/properties/graduationYear",
                  "type": "string",
                  "title": "Year of Graduation"
                },
                "marks": {
                  "$id": "#/properties/marks",
                  "type": "string",
                  "title": "Marks / Ranking / GPA, etc"
                }
              }
            },
            "title": "Education Details"
          },
          "experience": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "instituteOSID": {
                  "$id": "#/properties/instituteOSID",
                  "type": "string",
                  "title": "Institute OSID"
                },
                "instituteName": {
                  "$id": "#/properties/instituteName",
                  "type": "string",
                  "title": "Institute Name"
                },
                "employmentType": {
                  "$id": "#/properties/employmentType",
                  "type": "string",
                  "title": "Employment Type",
                  "enum": [
                    "Permanent",
                    "Contract"
                  ]
                },
                "start": {
                  "$id": "#/properties/start",
                  "type": "string",
                  "format": "date",
                  "title": "Start Date"
                },
                "end": {
                  "$id": "#/properties/end",
                  "type": "string",
                  "format": "date",
                  "title": "End Date"
                },
                "teacherType": {
                  "$id": "#/properties/teacherType",
                  "type": "string",
                  "title": "Teacher Type",
                  "enum": [
                    "Head teacher",
                    "Acting head teacher",
                    "Teacher",
                    "Instructor positioned as per RTE",
                    "Principal",
                    "VicePrincipal",
                    "Lecturer"
                  ]
                },
                "subjectsTaught": {
                  "$id": "#/properties/subjectsTaught",
                  "title": "Subjects Taught",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "subjects": {
                        "$id": "#/properties/subjects",
                        "type": "string",
                        "title": "Subject",
                        "enum": [
                          "English",
                          "Kannada",
                          "Mathematics",
                          "Science",
                          "Social Science",
                          "Art"
                        ]
                      },
                      "grades": {
                        "$id": "#/properties/grades",
                        "type": "string",
                        "title": "Grades",
                        "enum": [
                          "Pre-Pri.",
                          "Class I",
                          "Class II",
                          "Class III",
                          "Class IV",
                          "Class V",
                          "Class VI",
                          "Class VII",
                          "Class VIII",
                          "Class IX",
                          "Class X",
                          "Class XI",
                          "Class XII"
                        ]
                      }
                    }
                  }
                }
              }
            },
            "title": "Professional Experience"
          }
        }
      },
      "PrerakOsConfig": {
        "osComment": [
          "This section contains the OpenSABER specific configuration information",
          "privateFields: Optional; list of field names to be encrypted and stored in database",
          "signedFields: Optional; list of field names that must be pre-signed",
          "indexFields: Optional; list of field names used for creating index. Enclose within braces to indicate it is a composite index. In this definition, (serialNum, teacherCode) is a composite index and teacherName is a single column index.",
          "uniqueIndexFields: Optional; list of field names used for creating unique index. Field names must be different from index field name",
          "systemFields: Optional; list of fields names used for system standard information like created, updated timestamps and userid"
        ],
        "privateFields": [
          "$.identityDetails.dob",
          "$.identityDetails.identityType",
          "$.identityDetails.identityValue",
          "$.contactDetails.email",
          "$.contactDetails.mobile",
          "$.contactDetails.address.plot",
          "$.contactDetails.address.street",
          "$.contactDetails.address.landmark",
          "$.contactDetails.address.locality"
        ],
        "signedFields": [],
        "indexFields": [],
        "uniqueIndexFields": [
          "identityValue"
        ],
        "systemFields": [
          "osCreatedAt",
          "osUpdatedAt",
          "osCreatedBy",
          "osUpdatedBy"
        ],
        "attestationPolicies": [
          {
            "name": "teacherExperience",
            "conditions": "(ATTESTOR#$.osid#.contains(REQUESTER#$.experience.*.instituteOSID#))",
            "type": "MANUAL",
            "attestorPlugin": "did:internal:ClaimPluginActor?entity=Institute",
            "attestationProperties": {
              "experience": "$.experience"
            }
          },
          {
            "name": "teacherAcademicsQualification",
            "conditions": "(ATTESTOR#$.osid#.contains(REQUESTER#$.academicQualifications.*.instituteOSID#))",
            "type": "MANUAL",
            "attestorPlugin": "did:internal:ClaimPluginActor?entity=Institute",
            "attestationProperties": {
              "academicQualifications": "$.academicQualifications"
            }
          }
        ],
        "internalFields": [],
        "inviteRoles": [
          "anonymous"
        ],
        "enableLogin": true,
        "ownershipAttributes": [
          {
            "email": "/contactDetails/email",
            "mobile": "/contactDetails/mobile",
            "userId": "/contactDetails/mobile"
          }
        ]
      },
      "Student": {
        "type": "object",
        "title": "The Student Schema",
        "required": [],
        "properties": {
          "identityDetails": {
            "type": "object",
            "title": "Identity Details",
            "description": "Identity Details",
            "required": [],
            "properties": {
              "fullName": {
                "$id": "#/properties/fullName",
                "type": "string",
                "title": "Full name"
              },
              "gender": {
                "$id": "#/properties/gender",
                "type": "string",
                "enum": [
                  "Male",
                  "Female",
                  "Other"
                ],
                "title": "Gender"
              },
              "dob": {
                "$id": "#/properties/dob",
                "type": "string",
                "format": "date",
                "title": "DOB"
              },
              "identityHolder": {
                "type": "object",
                "properties": {
                  "type": {
                    "$id": "#/properties/type",
                    "type": "string",
                    "$comment": "Nationality",
                    "title": "ID Type",
                    "enum": [
                      "AADHAR",
                      "PAN",
                      "LICENSE",
                      "OTHER"
                    ]
                  },
                  "value": {
                    "$id": "#/properties/value",
                    "type": "string",
                    "$comment": "Nationality",
                    "title": "ID Value"
                  }
                }
              }
            }
          },
          "contactDetails": {
            "type": "object",
            "title": "Contact Details",
            "description": "Contact Details",
            "required": [],
            "properties": {
              "email": {
                "$id": "#/properties/email",
                "type": "string",
                "title": "Email"
              },
              "mobile": {
                "$id": "#/properties/mobile",
                "type": "string",
                "title": "Mobile"
              },
              "address": {
                "type": "object",
                "required": [],
                "properties": {
                  "plot": {
                    "type": "string",
                    "title": "Plot"
                  },
                  "street": {
                    "type": "string",
                    "title": "Street"
                  },
                  "landmark": {
                    "type": "string",
                    "title": "Landmark"
                  },
                  "locality": {
                    "type": "string",
                    "title": "Locality"
                  },
                  "state": {
                    "type": "string",
                    "title": "State",
                    "enum": [
                      "Andaman and Nicobar Islands",
                      "Andhra Pradesh",
                      "Arunachal Pradesh",
                      "Assam",
                      "Bihar",
                      "Chandigarh",
                      "Chhattisgarh",
                      "Dadra and Nagar Haveli",
                      "Daman and Diu",
                      "Delhi",
                      "Goa",
                      "Gujarat",
                      "Haryana",
                      "Himachal Pradesh",
                      "Jammu and Kashmir",
                      "Jharkhand",
                      "Karnataka",
                      "Kerala",
                      "Ladakh",
                      "Lakshadweep",
                      "Madhya Pradesh",
                      "Maharashtra",
                      "Manipur",
                      "Meghalaya",
                      "Mizoram",
                      "Nagaland",
                      "Odisha",
                      "Puducherry",
                      "Punjab",
                      "Rajasthan",
                      "Sikkim",
                      "Tamil Nadu",
                      "Telangana",
                      "Tripura",
                      "Uttar Pradesh",
                      "Uttarakhand",
                      "West Bengal"
                    ]
                  },
                  "district": {
                    "type": "string",
                    "title": "District"
                  },
                  "village": {
                    "type": "string",
                    "title": "Village/Town/City"
                  },
                  "pincode": {
                    "type": "string",
                    "title": "Pincode"
                  }
                }
              }
            }
          },
          "educationDetails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "institute": {
                  "$id": "#/properties/institute",
                  "type": "string",
                  "title": "Institute Name"
                },
                "instituteOSID": {
                  "$id": "#/properties/instituteOSID",
                  "type": "string",
                  "title": "Institute Osid"
                },
                "board": {
                  "$id": "#/properties/board",
                  "type": "string",
                  "title": "Board of Education"
                },
                "medium": {
                  "$id": "#/properties/program",
                  "type": "string",
                  "enum": [
                    "English",
                    "Hindi",
                    "Gujarati",
                    "Malayalam",
                    "Tamil"
                  ],
                  "title": "Medium of Education"
                },
                "class": {
                  "$id": "#/properties/graduationYear",
                  "type": "string",
                  "enum": [
                    "Pre-Pri.",
                    "Class I",
                    "Class II",
                    "Class III",
                    "Class IV",
                    "Class V",
                    "Class VI",
                    "Class VII",
                    "Class VIII",
                    "Class IX",
                    "Class X",
                    "Class XI",
                    "Class XII"
                  ],
                  "title": "Current Enrollment Class / Std."
                },
                "documents": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "fileName": {
                        "type": "string",
                        "format": "file"
                      }
                    }
                  },
                  "title": "Education related documents"
                }
              }
            },
            "title": "Education Details"
          },
          "guardianDetails": {
            "type": "object",
            "properties": {
              "fullName": {
                "$id": "#/properties/fullName",
                "type": "string",
                "title": "Guardian's Full Name"
              },
              "relation": {
                "$id": "#/properties/relation",
                "type": "string",
                "title": "Guardian Relation type"
              }
            }
          }
        }
      },
      "StudentOsConfig": {
        "osComment": [
          "This section contains the OpenSABER specific configuration information",
          "privateFields: Optional; list of field names to be encrypted and stored in database",
          "signedFields: Optional; list of field names that must be pre-signed",
          "indexFields: Optional; list of field names used for creating index. Enclose within braces to indicate it is a composite index. In this definition, (serialNum, studentCode) is a composite index and studentName is a single column index.",
          "uniqueIndexFields: Optional; list of field names used for creating unique index. Field names must be different from index field name",
          "systemFields: Optional; list of fields names used for system standard information like created, updated timestamps and userid"
        ],
        "privateFields": [
          "$.identityDetails.dob",
          "$.identityDetails.identityType",
          "$.identityDetails.identityValue",
          "$.contactDetails.email",
          "$.contactDetails.mobile",
          "$.contactDetails.address.plot",
          "$.contactDetails.address.street",
          "$.contactDetails.address.landmark",
          "$.contactDetails.address.locality"
        ],
        "signedFields": [],
        "indexFields": [
          "studentName"
        ],
        "uniqueIndexFields": [
          "identityValue"
        ],
        "systemFields": [
          "_osCreatedAt",
          "_osUpdatedAt",
          "_osCreatedBy",
          "_osUpdatedBy",
          "_osAttestedData",
          "_osClaimId",
          "_osState"
        ],
        "attestationAttributes": [
          "educationDetails",
          "nationalIdentifier"
        ],
        "attestationPolicies": [
          {
            "name": "studentInstituteAttest",
            "additionalInput": {
              "enrollmentNumber": {
                "type": "string"
              }
            },
            "attestationProperties": {
              "name": "$.identityDetails.fullName",
              "educationDetails": "$.educationDetails"
            },
            "type": "MANUAL",
            "conditions": "(ATTESTOR#$.experience.[*].instituteOSID#.contains(REQUESTER#$.educationDetails.*.instituteOSID#))",
            "attestorPlugin": "did:internal:ClaimPluginActor?entity=Teacher"
          }
        ],
        "inviteRoles": [
          "anonymous"
        ],
        "enableLogin": true,
        "ownershipAttributes": [
          {
            "email": "/contactDetails/email",
            "mobile": "/contactDetails/mobile",
            "userId": "/contactDetails/mobile"
          }
        ]
      },
      "IdentityDetails": {
        "type": "object",
        "title": "Identity Details",
        "description": "Identity Details",
        "required": [],
        "properties": {
          "fullName": {
            "type": "string",
            "title": "Full name"
          },
          "gender": {
            "type": "string",
            "enum": [
              "Male",
              "Female",
              "Other"
            ],
            "title": "Gender"
          },
          "dob": {
            "type": "string",
            "format": "date",
            "title": "DOB"
          },
          "identityHolder": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "title": "ID Type",
                "enum": [
                  "AADHAR",
                  "PAN",
                  "LICENSE",
                  "OTHER"
                ]
              },
              "value": {
                "type": "string",
                "title": "ID Value"
              }
            }
          }
        }
      },
      "ContactDetails": {
        "type": "object",
        "title": "Contact Details",
        "description": "Contact Details",
        "required": [],
        "properties": {
          "email": {
            "type": "string",
            "title": "Email"
          },
          "mobile": {
            "type": "string",
            "title": "Mobile"
          },
          "address": {
            "$ref": "#/definitions/Address",
            "title": "Address"
          }
        }
      },
      "AcademicQualification": {
        "type": "object",
        "properties": {
          "instituteOSID": {
            "type": "string",
            "title": "Institute OSID"
          },
          "instituteName": {
            "type": "string",
            "title": "Institute Name"
          },
          "qualification": {
            "type": "string",
            "title": "Qualification"
          },
          "program": {
            "type": "string",
            "title": "Program of Study"
          },
          "graduationYear": {
            "type": "string",
            "title": "Year of Graduation"
          },
          "marks": {
            "type": "string",
            "title": "Marks / Ranking / GPA, etc"
          }
        }
      },
      "ExperienceType": {
        "type": "object",
        "properties": {
          "instituteOSID": {
            "type": "string",
            "title": "Institute OSID"
          },
          "instituteName": {
            "type": "string",
            "title": "Institute Name"
          },
          "employmentType": {
            "type": "string",
            "title": "Employment Type",
            "enum": [
              "Permanent",
              "Contract"
            ]
          },
          "start": {
            "type": "string",
            "format": "date",
            "title": "Start Date"
          },
          "end": {
            "type": "string",
            "format": "date",
            "title": "End Date"
          },
          "teacherType": {
            "type": "string",
            "title": "Teacher Type",
            "enum": [
              "Head teacher",
              "Acting head teacher",
              "Teacher",
              "Instructor positioned as per RTE",
              "Principal",
              "VicePrincipal",
              "Lecturer"
            ]
          },
          "subjectsTaught": {
            "title": "Subjects Taught",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "subjects": {
                  "type": "string",
                  "title": "Subject",
                  "enum": [
                    "English",
                    "Kannada",
                    "Mathematics",
                    "Science",
                    "Social Science",
                    "Art"
                  ]
                },
                "grades": {
                  "type": "string",
                  "title": "Grades",
                  "enum": [
                    "Pre-Pri.",
                    "Class I",
                    "Class II",
                    "Class III",
                    "Class IV",
                    "Class V",
                    "Class VI",
                    "Class VII",
                    "Class VIII",
                    "Class IX",
                    "Class X",
                    "Class XI",
                    "Class XII"
                  ]
                }
              }
            }
          }
        }
      },
      "EducationType": {
        "type": "object",
        "properties": {
          "institute": {
            "type": "string",
            "title": "Institute Name"
          },
          "instituteOSID": {
            "type": "string",
            "title": "Institute Osid"
          },
          "board": {
            "type": "string",
            "title": "Board of Education"
          },
          "medium": {
            "type": "string",
            "enum": [
              "English",
              "Hindi",
              "Gujarati",
              "Malayalam",
              "Tamil"
            ],
            "title": "Medium of Education"
          },
          "class": {
            "type": "string",
            "enum": [
              "Pre-Pri.",
              "Class I",
              "Class II",
              "Class III",
              "Class IV",
              "Class V",
              "Class VI",
              "Class VII",
              "Class VIII",
              "Class IX",
              "Class X",
              "Class XI",
              "Class XII"
            ],
            "title": "Current Enrollment Class / Std."
          },
          "documents": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "fileName": {
                  "type": "string",
                  "format": "file"
                }
              }
            },
            "title": "Education related documents"
          }
        }
      },
      "GuardianDetails": {
        "type": "object",
        "properties": {
          "fullName": {
            "type": "string",
            "title": "Guardian's Full Name"
          },
          "relation": {
            "type": "string",
            "title": "Guardian Relation type"
          }
        }
      },
      "Document": {
        "type": "object",
        "properties": {
          "fileName": {
            "type": "string",
            "format": "file"
          }
        }
      },
      "Address": {
        "type": "object",
        "required": [],
        "properties": {
          "plot": {
            "type": "string",
            "title": "Plot"
          },
          "street": {
            "type": "string",
            "title": "Street"
          },
          "landmark": {
            "type": "string",
            "title": "Landmark"
          },
          "locality": {
            "type": "string",
            "title": "Locality"
          },
          "state": {
            "type": "string",
            "title": "State",
            "enum": [
              "Andaman and Nicobar Islands",
              "Andhra Pradesh",
              "Arunachal Pradesh",
              "Assam",
              "Bihar",
              "Chandigarh",
              "Chhattisgarh",
              "Dadra and Nagar Haveli",
              "Daman and Diu",
              "Delhi",
              "Goa",
              "Gujarat",
              "Haryana",
              "Himachal Pradesh",
              "Jammu and Kashmir",
              "Jharkhand",
              "Karnataka",
              "Kerala",
              "Ladakh",
              "Lakshadweep",
              "Madhya Pradesh",
              "Maharashtra",
              "Manipur",
              "Meghalaya",
              "Mizoram",
              "Nagaland",
              "Odisha",
              "Puducherry",
              "Punjab",
              "Rajasthan",
              "Sikkim",
              "Tamil Nadu",
              "Telangana",
              "Tripura",
              "Uttar Pradesh",
              "Uttarakhand",
              "West Bengal"
            ]
          },
          "district": {
            "type": "string",
            "title": "District"
          },
          "village": {
            "type": "string",
            "title": "Village/Town/City"
          },
          "pincode": {
            "type": "string",
            "title": "Pincode"
          }
        }
      }
    }
  }